loginservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://electre.com/ElectreNET/"
	xmlns:s1="http://electre.com/ElectreNET/literalTypes"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://electre.com/ElectreNET/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://electre.com/ElectreNET/">
			<s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
			<s:complexType name="ArrayOfString">
				<s:complexContent mixed="false">
					<s:restriction base="soapenc:Array">
						<s:attribute wsdl:arrayType="s:string[]" ref="soapenc:arrayType" />
					</s:restriction>
				</s:complexContent>
			</s:complexType>
		</s:schema>
		<s:schema elementFormDefault="qualified"
			targetNamespace="http://electre.com/ElectreNET/literalTypes">
			<s:element name="string" nillable="true" type="s:string" />
			<s:element name="ArrayOfString" nillable="true" type="s1:ArrayOfString" />
			<s:complexType name="ArrayOfString">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="loginUserSoapIn">
		<wsdl:part name="userName" type="s:string" />
		<wsdl:part name="userPassword" type="s:string" />
	</wsdl:message>
	<wsdl:message name="loginUserSoapOut">
		<wsdl:part name="loginUserResult" type="s:string" />
	</wsdl:message>
	<wsdl:message name="logoutUserSoapIn">
		<wsdl:part name="sessionIdCookie" type="s:string" />
	</wsdl:message>
	<wsdl:message name="logoutUserSoapOut" />
	<wsdl:message name="getSessionTokensSoapIn">
		<wsdl:part name="login" type="s:string" />
		<wsdl:part name="password" type="s:string" />
	</wsdl:message>
	<wsdl:message name="getSessionTokensSoapOut">
		<wsdl:part name="getSessionTokensResult" type="tns:ArrayOfString" />
	</wsdl:message>
	<wsdl:portType name="LoginSoap">
		<wsdl:operation name="loginUser">
			<wsdl:input message="tns:loginUserSoapIn" />
			<wsdl:output message="tns:loginUserSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="logoutUser">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Terminate user
				session
			</wsdl:documentation>
			<wsdl:input message="tns:logoutUserSoapIn" />
			<wsdl:output message="tns:logoutUserSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="getSessionTokens">
			<wsdl:input message="tns:getSessionTokensSoapIn" />
			<wsdl:output message="tns:getSessionTokensSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LoginSoap12" type="tns:LoginSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<wsdl:operation name="loginUser">
			<soap12:operation soapAction="http://electre.com/ElectreNET/loginUser"
				style="rpc" />
			<wsdl:input>
				<soap12:body use="encoded" namespace="http://electre.com/ElectreNET/"
					encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="encoded" namespace="http://electre.com/ElectreNET/"
					encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="logoutUser">
			<soap12:operation soapAction="http://electre.com/ElectreNET/logoutUser"
				style="rpc" />
			<wsdl:input>
				<soap12:body use="encoded" namespace="http://electre.com/ElectreNET/"
					encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="encoded" namespace="http://electre.com/ElectreNET/"
					encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSessionTokens">
			<soap12:operation soapAction="http://electre.com/ElectreNET/getSessionTokens"
				style="rpc" />
			<wsdl:input>
				<soap12:body use="encoded" namespace="http://electre.com/ElectreNET/"
					encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="encoded" namespace="http://electre.com/ElectreNET/"
					encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Login">
		<wsdl:port name="LoginSoap12" binding="tns:LoginSoap12">
			<soap12:address location="http://www.mementolivres.com/WebService/login.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>